/* CSS Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Balsamiq Sans', cursive;
}

body {
  height: 100%;
}
/*
  ========================================
  General 
  ========================================
*/
.flex {
  display: flex;
}

.gray1 {
  background-color: #000;
  border-radius: 10px;
}

.gray2 {
  background-color: #4e4e4e;
  border-radius: 10px;
}

.gray3 {
  background-color: #979797;
  border-radius: 10px;
}

.gray4 {
  background-color: #ebebeb;
  border-radius: 10px;
}

.gray5 {
  background-color: #ffffff;
  border-radius: 10px;
}

/*
  ========================================
  Navigation Bar
  ========================================
*/

.nav-bar {
  justify-content: space-around;
  align-items: center;
  padding: 15px 35px;
  list-style-type: none;
}

.nav-bar li {
  display: flex;
  justify-content: center;
}

.search-bar {
  padding-left: 50px;
}

.logo {
  width: 200px;
  height: 70px;
}

.nav-items {
  width: 100px;
  height: 50px;
}

/*
  ========================================
  Main
  ========================================
*/
/* section 1 */
.front-title {
  width: 20%;
  height: 80px;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.section {
  flex-wrap: wrap;
  justify-content: center;
}

.article1 {
  width: 48%;
  height: 400px;
  border-radius: 0px;
  margin: 10px;
}
.avatar {
  width: 75px;
  height: 75px;
  margin: 100px 0 0 100px;
}

.title {
  width: 300px;
  height: 75px;
  margin: 10px 0 0 100px;
}

/* section 2 */

.article2 {
  width: 30%;
  height: 350px;
  margin: 10px;
}

.title2 {
  width: 80%;
  height: 30px;
  margin: 1.3rem 0 0 0.8rem;
  color: white;
  padding: 0.4rem;
}

.author {
  width: 40%;
  height: 30px;
  margin: 1.6rem 0.8rem;
}

.article-text {
  width: 80%;
  margin: 0.8rem;
  color: white;
  padding: 0.9rem;
}

.article-sub {
  width: 10%;
  height: 2.5rem;
  margin: 2.7rem 0.8rem 0.8rem 0.8rem;
}

.special {
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 30%;
}

.title-sp {
  width: 40%;
  height: 25%;
  margin: 1.3rem 0 0 0;
  color: white;
  padding: 0.4rem;
}

.author-sp {
  width: 75%;
  height: 10%;
  margin: 1.6rem 0.8rem;
}

.article-sub-sp {
  width: 80%;
  height: 2.7rem;
  margin: 5rem 0.8rem 0.8rem 0.8rem;
}

/* section 3*/

.sign-up {
  margin: 2.3rem auto;
  width: 95%;
  height: 600px;
  flex-direction: column;
  align-items: center;
}

.title-sign {
  width: 14%;
  height: 25%;
  margin: 1.3rem 0 0 0;
  color: white;
  padding: 0.4rem;
}

.author-sign {
  width: 35%;
  height: 10%;
  margin: 1.6rem 0.8rem;
}

.text-sign {
  width: 45%;
  margin: 0.8rem;
  color: white;
  padding: 0.9rem;
}

.sign-btn {
  width: 30%;
  height: 3.7rem;
  margin: 5rem 0.8rem 0.8rem 0.8rem;
}

.more-articles {
  width: 20%;
  height: 50px;
  margin: 100px auto;
}

/* blue section */

.blue {
  width: 100%;
  height: 1060px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2em;
}

.blue-date {
  width: 40%;
  height: 20px;
}

.blue-text,
.blue h2 {
  width: 60%;
  height: 120px;
}

.blue-button {
  width: 30%;
  height: 60px;
}

.blue-image {
  width: 60%;
  height: 520px;
}

.person-of-week {
  display: grid;
  width: 96%;
  height: 300px;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "image  title" "image  text";
  border-radius: 0;
  margin: auto
}

.person-of-week > div {
  width: 80%;
  height: 250px;
  margin: auto;
  grid-area: image;
}

.person-of-week > h3 {
  width: 20%;
  height: 30px;
  align-self: center;
  grid-area: title;
}

.person-of-week > p {
  width: 70%;
  height: 200px;
  grid-area: text;
}

/* article3 section */

.article3 {
  width: 48%;
  height: 380px;
  border-radius: 0px;
  margin: 10px;
  position: relative;

}
.article3-avatar {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 100px;
  left: 20px;

}
.article3-author {
  width: 150px;
  height: 30px;
  margin: 4.8rem 6.8rem;
}

.article3-title {
  width: 200px;
  height: 35px;
  margin: -3.2rem 6.8rem;
 
}

.article3-text {
  width: 80%;
  height: 125px;
  color: white;
  margin: 5rem 6.8rem;
 
}