/* CSS Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Balsamiq Sans', cursive;
}

body {
  height: 100%;
}
/*
  ========================================
  General 
  ========================================
*/
.flex {
  display: flex;
}

.grey1{
  background-color: #000;
  border-radius: 10px;
  }
  
  .grey2 {
    background-color: #4e4e4e;
    border-radius: 10px;
  }

  .grey3 {
    background-color: #979797;
    border-radius: 10px;
  }

  .grey4 {
    background-color: #ebebeb;
    border-radius: 10px;
  }

  .grey5 {
    background-color: #ffffff;
    border-radius: 10px;
  }
  
/*
  ========================================
  Navigation Bar
  ========================================
*/

.nav-bar {
  justify-content: space-around;
  align-items: center;
  padding: 15px 35px;
  list-style-type: none;
}

.nav-bar li {
  display: flex;
  justify-content: center;
}

.search-bar {
  padding-left: 50px;

}

.logo {
  width: 200px;
  height: 70px;
  
}

.nav-items { 
  width: 100px;
  height: 50px;
}

/*
  ========================================
  Main
  ========================================
*/



.article1{
  width: 740px ;
  height: 400px;
  border-radius: 0px;
  margin-top: 10px;
}
.avatar {
  width: 75px;
  height: 75px;
  margin: 100px 0 0 100px;
}

.title{
  width: 300px;
  height: 75px;
  margin: 10px 0 0 100px
}
